* {
    font-family: "Microsoft JhengHei"
}

div:not(".form-group") {
    margin: 10px
}

body{
    background-color: darkgray
}

button {
    float: right;
    margin: 10px
}

.breakline {
    height: 3px;
    border: 3px;
    background-color: gray;
    margin-top: 20px;
    margin-bottom: 20px;
}

.row {
    margin-top: 20px;
    margin-bottom: 20px;
}

#logo {
    
}
