<!DOCTYPE html>
<html>

<head>
    <title> Message Board</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/global.css">
</head>

<body>

    <div class="container bg-light">

        <!-- logo section -->
        <div id="logo" class="row">
        </div>
        
        <!-- topic message group -->
        <div id="topicMessageGroup" class="row">
            <p class="h3 p-3 col-12 bg-danger text-white"> 置頂貼文 </p>

            <!-- sample of a topic message -->
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <img src="../static/img/test.png" class="img-thumbnail" alt="photo">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                <h4 class="font-weight-bolder"> 請大家共同維持網路禮儀認護了質以的跟開他超農的 </h4>
                <p>果保學角洲在外張能內總為為能足，關完商年臺人變飛是進子而來前人高：在都林，人住質持、影歡真境……則策海我家；系止目白活，都而有停就響定獲人；放紀它立一著不……防現因必想著點起自於。流天收經：種投景的電會水，識的風日提食回回；看本時是麗素非地外呢語方小把，值主事海老提小大產之業去？

                    善陽便急樣馬雖情再有……世下市三樣個史眼於聲化至電落信標岸制子；我他小案大破？異是立用家快經沒王何民人，操驚和影商關需重興：可下金華一目為？一營工麼筆病著想聲工，統思轉字以實業他老著再你，少取年計資黨建適出了自趣問係，才大用下發傳我越量師？記清沒情路音變變兒交事，說日的他日人的。裡試無此一生學也之基人權可有也就登國政不層正？腦開新己心通的年、部經起地營白以低特西體流教一東士之口我人院車實想中阿說成考代星為辦可，處第展水你然化不要議現當花色角小票步作會這決例也時怕比書好戰理直腦是識跑認為生到朋，臺在金應家病書行大天目好賽觀能生很濟而其。
                </p>
                <small> 由 <a href="#">Administrator</a> 發文於 2020-05-29(五) 23:38，訊息編號：<a href="#">T00001</a></small>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <button class="btn btn-primary"> 回應 </button>
            </div>
        </div>

        <!-- normal message group -->
        <div id="normalMessageGroup" class="row">
            <p class="h3 p-3 col-12 bg-primary text-white"> 一般貼文 </p>

            <!-- sample of a normal message -->
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <img src="../static/img/test.png" class="img-thumbnail" alt="photo">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                <h4 class="font-weight-bolder"> 資料結構補課 </h4>
                <p> 資料結構補課時間為6/10號，在資電404</p>
                <small> 由 <a href="#">逢甲吉胖喵</a> 發文於 2020-05-29(五) 23:38，訊息編號：<a href="#">000001</a></small>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <button class="btn btn-primary"> 回應 </button>
            </div>
        </div>

        <!-- leave message section -->
        <div id="leaveMessageGroup" class="row">
            <p class="h3 p-3 col-12 bg-primary text-white"> 留言區 </p>

            <div class="form-group col-12">
                <label for="messageTitle"> 標題 </label>
                <input id="messageTitle" class="form-control">
            </div>
            <div class="form-group col-12">
                <label for="message"> 內容 </label>
                <textarea id="message" class="form-control" style="height: 200px"></textarea>
                
                <button id="postMessageBth" class="btn btn-primary" type="button">張貼</button>
                <button id="resetMessageBth" class="btn btn-danger" type="button">重新填寫</button>
            </div>
            

        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="../static/js/messageBoard.js"></script>
</body>

</html>